*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/com/android/zouky/mylibrary/callback/
src/main/java/com/android/zouky/mylibrary/model/
src/main/java/com/android/zouky/mylibrary/net/
src/main/java/com/android/zouky/mylibrary/view/
src/main/res/drawable/
